{% extends 'HRUserBundle::layout.html.twig' %}

{% block user_content %}
    <table class="table table-bordered">
        <tr>
            <th class="text-center">应聘者</th>
            <th class="text-center">职位</th>
            <th class="text-center">简历投递时间</th>
            <th class="text-center">下载简历</th>
        </tr>
        {% for delivery in pager.getResults %}
            <tr>
                <td class="text-center">
                    <a href="{{ path('profile_show', {'userId': delivery.sender.id }) }}" target="_blank">{{ delivery.sender.screenName }}</a>
                </td>
                <td class="text-center">
                    <a href="{{ path('job_show', {'jobId': delivery.job.id}) }}" target="_blank">{{ delivery.job.title }}</a>
                </td>
                <td class="text-center">{{ delivery.createdAt|date('Y-m-d H:i') }}</td>
                <td class="text-center"><a href="">下载简历</a></td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4" class="text-center text-muted">没有收到过简历</td>
            </tr>
        {% endfor %}
    </table>

    {% if pager.isPaginable %}
        {{ paginate(pager, 'delivery_received') }}
    {% endif %}
{% endblock %}