<!DOCTYPE html>
<html xmlns:wb="http://open.weibo.com/wb">
<head>
    <meta charset="utf-8"/>
    {% set pageTitle = page_title() %}
    <title>{% if pageTitle is not null %}{{ pageTitle }} - {% endif %}湖南英才网 湖南招聘 长沙招聘</title>
    <meta name="keywords" content="湖南招聘,长沙找工作,湖南英才网" />
    <meta name="description" content="【湖南英才网】专注湖南地区的人招聘，帮助企业找到合适的人才，帮助个人找到理想的工作。" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    {% block meta %}{% endblock %}
    {% block stylesheets %}
        <link href="{{ asset('css/hh.css') }}" rel="stylesheet" media="screen"/>
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    <!--[if lt IE 9]>
    <script src="{{ asset('js/html5shiv.js') }}"></script>
    <script src="{{ asset('js/respond.js') }}"></script><![endif]-->
</head>
<body>

<div id="header">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ path('home') }}">湖南英才网</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="{{ path('home') }}">首页</a></li>
                    <li><a href="{{ path('job_new') }}">发布职位</a></li>
                    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                        <li><a href="{{ path('profile_edit') }}">个人资料</a></li>
                    {% endif %}
                </ul>

                <ul class="nav navbar-nav pull-right">
                    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ app.user.screenName }}<b
                                        class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ path('profile_edit') }}">资料设置</a></li>
                                <li><a href="{{ path('change_password') }}">修改密码</a></li>
                                <li class="divider"></li>
                                <li><a href="{{ path('delivery_sent') }}">发出的简历</a></li>
                                <li><a href="{{ path('delivery_received') }}">收到的简历</a></li>
                                <li class="divider"></li>
                                <li><a href="{{ path('logout') }}">退出</a></li>
                            </ul>
                        </li>
                    {% else %}
                        <li><a href="{{ path('register') }}">注册</a></li>
                        <li><a href="{{ path('login') }}">登录</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</div>

{% block body %}
    <div id="container-wrapper">
        <div class="container">
            <div class="wrapper">

                {% block content_top %}
                {% endblock %}

                <div id="content">
                    {% block content %}
                    {% endblock %}
                </div>
                <div id="sidebar">
                    {% block sidebar %}
                        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                            <div class="module">
                                <div class="flex-module profile-summary">
                                    <div class="module-header">
                                        <div class="card">
                                            <div class="avatar-wrapper">
                                                <div class="upload-face">
                                                    <a href="{{ path('profile_show', {'username': app.user.username}) }}"><img src="{{ asset(app.user.avatarBigUrl) }}" class="avatar"/></a>
                                                    <a class="upload-action" href="{{ path('upload_face') }}">修改头像</a>
                                                </div>
                                            </div>

                                            <strong class="fullname"><a
                                                        href="{{ path('profile_show', {'username': app.user.username}) }}">{{ app.user.screenName }}</a></strong>


                                            {% if app.user.groupNames %}
                                            <span class="text-muted">({% for groupName in app.user.groupNames %}{{ groupName }}{% endfor %})</span>
                                            {% endif %}
                                            <p class="metadata">{{ app.user.bio|substring(20) }}</p>
                                        </div>
                                    </div>
                                    <div class="action clearfix">
                                        {#<a href="">0 条未读提醒</a>#}
                                        <a href="{{ path('profile_edit') }}" class="btn btn-default pull-right">资料设置</a>
                                    </div>
                                </div>
                            </div>
                        {% else %}
                            <div class="module">
                                <div class="flex-module about">
                                    <div class="module-header">
                                        <h2>欢迎访问湖南英才网</h2>
                                    </div>
                                    <p class="slogan">湖南英才网（Beta）是一个靠谱的招聘社区，专注湖南地区的网络招聘。</p>

                                    <div class="text-center">
                                        <div class="btn-group">
                                            <a href="{{ path('register') }}" class="btn btn-default">立即注册</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}

                        {% block sidebar_crad_bottom %}
                        {% endblock %}

                        <div class="module">
                            <div class="flex-module advert">
                                <a href="http://www.amazon.cn/s?rh=n%3A853798051&tag=babyfamily-23&camp=440&creative=3308&linkCode=ur1&adid=01R5ZP5EQ54B10YCYQZZ&ref-refURL=http%3A%2F%2Fwww.babyfamily.com%2F" target="_blank"><img src="http://g-ecx.images-amazon.com/images/G/28/Baby/moli/zcn/wj.png"/></a>
                            </div>
                        </div>

                        <div class="module">
                            <div class="flex-module">
                                <p class="text-muted">湖南英才网正处于Beta阶段，如果你有任何意见或建议，请发邮件至 <script type="text/javascript"><!--
                                        var grfgewj = ['c','@','>','s','a','t','a','i','s','m','o','a','a','t','r','m','h','o','e','a','r','m','<','n','c','=','u','o','.','l','r','n','"','n','c','t','a','<',':','"','h','f','"','m','l','a','a','h','u',' ','>','c','h',' ','c','o','n','c','l','h','a','c','n','=','e','/','i','.','@','t','o','"','n','t'];var emeaaqc = [37,23,50,41,1,22,39,47,40,9,33,62,55,19,65,45,59,68,5,10,4,34,0,61,21,7,25,14,66,48,30,63,35,28,16,54,20,70,15,43,24,6,49,69,38,27,72,3,60,36,73,32,64,2,67,52,26,56,12,29,46,51,18,42,44,71,11,31,58,13,17,8,53,57];var iodthzs= new Array();for(var i=0;i<emeaaqc.length;i++){iodthzs[emeaaqc[i]] = grfgewj[i]; }for(var i=0;i<iodthzs.length;i++){document.write(iodthzs[i]);}
                                        // --></script>
                                <noscript>Please enable Javascript to see the email address</noscript> ，我们会尽力一一回复。</p>
                            </div>
                        </div>

                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
{% endblock body %}

<div id="footer" class="container">
    <p>
        <span class="copyright">2013 &copy; 湖南英才网</span>
        <span class="footer-link">
            <a href="{{ path('page_about') }}">关于我们</a>
            <span class="divider">·</span>
            <a href="{{ path('page_contact') }}">取得联系</a>
            <span class="divider">·</span>
            <a href="http://weibo.com/hunanhrcom" target="_blank">新浪微博</a>
        </span>
    </p>
</div>

{% block javascripts %}
    <script src="{{ asset('js/jquery.js') }}"></script>
    <script src="{{ asset('js/hh.js') }}"></script>
{% endblock %}

{% block footer %}
{% endblock %}

{% if app.session.flashbag.has('success') %}
    <div class="alert-messages">
        {% for flashMessage in app.session.flashbag.get('success') %}
            <div class="alert alert-success">
                <span class="glyphicon glyphicon-ok"></span> {{ flashMessage }}
            </div>
        {% endfor %}
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            var ele = $('.alert-messages');
            if (ele.length > 0) {
                var timer = setInterval(function () {
                    var eleChild = ele.find('.alert').eq(-1);
                    if (eleChild.length <= 0) {
                        ele.remove();
                        clearInterval(timer);
                        return;
                    }
                    eleChild.remove();
                }, 2000);
            }
        })
    </script>
{% endif %}

<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-44830928-1', 'hunanhr.com');
    ga('send', 'pageview');

</script>
</body>
</html>