<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    {% set pageTitle = page_title() %}
    <title>{% if pageTitle is not null %}{{ pageTitle }} - {% endif %}湖南英才网</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    {% block stylesheets %}
        <link href="{{ asset('css/hh.css') }}" rel="stylesheet" media="screen"/>
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>

    <!--[if lt IE 9]>
    <script src="{{ asset('js/html5shiv.js') }}"></script>
    <script src="{{ asset('js/respond.js') }}"></script>
    <![endif]-->
</head>
<body>

<div id="header">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ path('home') }}">湖南英才网</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="{{ path('home') }}">首页</a></li>
                </ul>

                <ul class="nav navbar-nav pull-right">
                    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ app.user.screenName }}<b
                                        class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ path('profile_edit') }}">资料设置</a></li>
                                <li><a href="{{ path('change_password') }}">修改密码</a></li>
                                <li class="divider"></li>
                                <li><a href="{{ path('logout') }}">退出</a></li>
                            </ul>
                        </li>
                    {% else %}
                        <li><a href="{{ path('register') }}">注册</a></li>
                        <li><a href="{{ path('login') }}">登录</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</div>

{% block body %}
    <div id="container-wrapper">
        <div class="container">
            <div class="wrapper">
                <div id="content">
                    {% block content %}
                    {% endblock %}
                </div>
                <div id="sidebar">
                    {% block sidebar %}
                        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                            <div class="module">
                                <div class="flex-module profile-summary">
                                    <div class="module-header">
                                        <div class="card">
                                            <img src="{{ asset(app.user.avatarBigUrl) }}" class="avatar"/>

                                            <strong class="fullname"><a href="">{{ app.user.screenName }}</a></strong>

                                            <p class="metadata">{{ app.user.bio }}</p>
                                        </div>
                                    </div>
                                    <div class="action clearfix">
                                        <a href="">0条新提醒</a>
                                        <a href="{{ path('profile_edit') }}" class="btn btn-default pull-right">资料设置</a>
                                    </div>
                                </div>
                            </div>
                        {% endif %}

                        {% block sidebar_crad_bottom %}
                        {% endblock %}

                        <div class="module">
                            <div class="flex-module advert">
                                <img src="http://g-ecx.images-amazon.com/images/G/28/Baby/moli/zcn/wj.png"/>
                            </div>
                        </div>

                        <div class="module">
                            <div class="flex-module about">
                                <div class="module-header">
                                    <h2>关于我们</h2>
                                </div>
                                <p class="slogan">湖南英才网是一个靠谱的招聘社区，专注湖南地区的网络招聘。</p>
                            </div>
                        </div>
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
{% endblock body %}

<div id="footer" class="container">
    <p>
        <span class="copyright">2013 &copy; 湖南英才网</span>
        <span class="footer-link">
            <a href="">关于我们</a>
            <span class="divider">·</span>
            <a href="">取得联系</a>
            <span class="divider">·</span>
            <a href="">新浪微博</a>
        </span>
    </p>
</div>

<div class="alert-messages">
    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="alert alert-success">
            <a class="close" data-dismiss="alert" href="#">&times;</a>
            {{ flashMessage }}
        </div>
    {% endfor %}
</div>

{% block javascripts %}
    <script src="{{ asset('js/jquery.js') }}"></script>
    <script src="{{ asset('js/hh.js') }}"></script>
{% endblock %}
</body>
</html>