{% extends 'HRUserBundle::layout.html.twig' %}

{% block user_content %}

    <ul class="nav nav-tabs">
        <li class="active"><a href="{{ path('application_sent') }}">发出的简历</a></li>
        <li><a href="{{ path('application_received') }}">收到的简历</a></li>
    </ul>

    <table class="table table-bordered">
        <tr>
            <th class="text-center">公司或机构</th>
            <th class="text-center">职位</th>
            <th class="text-center">简历投递时间</th>
        </tr>
        {% for application in pager %}
            <tr>
                <td class="text-center">{{ application.position.companyName }}</td>
                <td class="text-center">
                    <a href="{{ path('position_show', {'positionId': application.position.id}) }}" target="_blank">{{ application.position.position }}</a>
                </td>
                <td class="text-center">{{ application.createdAt|date('Y-m-d H:i') }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3" class="text-center text-muted">没有发出过简历</td>
            </tr>
        {% endfor %}
    </table>

    {% if pager.haveToPaginate %}
        <div class="page">
            {{ pagerfanta(pager, null, {'routeName': 'application_sent'}) }}
        </div>
    {% endif %}
{% endblock %}