<div class="profile">

    <h5>基本资料</h5>

    <table>
        <tr>
            <th>头像</th>
            <td><img src="{{ asset(user.avatarBigUrl) }}"/></td>
        </tr>
        <tr>
            <th>真实姓名</th>
            <td>{{ user.realName|default('*未填写*') }}</td>
        </tr>
        <tr>
            <th>性别</th>
            <td>{{ user.genderName }}</td>
        </tr>
        <tr>
            <th>生日</th>
            <td>{{ user.birthday|date('Y-m-d') }}</td>
        </tr>
        <tr>
            <th>最高学历</th>
            <td>{{ user.degreeName|default('*未填写*') }}</td>
        </tr>
        <tr>
            <th>当前职位</th>
            <td>{{ user.positionTitle|default('*未填写*') }}</td>
        </tr>
        <tr>
            <th>所在公司或机构</th>
            <td>{{ user.companyName|default('*未填写*') }}</td>
        </tr>
        {% if user.homepage %}
            <tr>
                <th>个人主页</th>
                <td><a href="{{ user.homepage }}" target="_blank">{{ user.homepage }}</a></td>
            </tr>
        {% endif %}
        <tr>
            <th>简介</th>
            <td>{{ user.bio|default('*未填写*') }}</td>
        </tr>
    </table>

    <h5>联系方式</h5>

    <table>
        <tr>
            <th>手机号码</th>
            <td>{{ user.phoneNumber|default('*未填写*') }}</td>
        </tr>
        <tr>
            <th>个人邮箱</th>
            <td>{{ user.email }}</td>
        </tr>
    </table>

    <h5>职业经历</h5>

    {% for career in user.careers %}
        <table>
            <tr>
                <th>公司或机构</th>
                <td>{{ career.companyName }}</td>
            </tr>
            <tr>
                <th>职位或头衔</th>
                <td>{{ career.title }}</td>
            </tr>
            <tr>
                <th>起止时间</th>
                <td>{{ career.startDate }} ~ {{ career.endDate }}</td>
            </tr>
            {% if career.summary %}
                <tr>
                    <th>简介</th>
                    <td>{{ career.summary }}</td>
                </tr>
            {% endif %}
        </table>
        {% if not loop.last %}
            <hr/>
        {% endif %}
    {% else %}
        <p class="text-muted">*未添加*</p>
    {% endfor %}

    <h5>教育经历</h5>

    {% for education in user.educations %}
        <table>
            <tr>
                <th>学校名称</th>
                <td>{{ education.schoolName }}</td>
            </tr>
            <tr>
                <th>取得学历</th>
                <td>{{ education.degreeName }}</td>
            </tr>
            <tr>
                <th>起止时间</th>
                <td>{{ education.startDate }} ~ {{ education.endDate }}</td>
            </tr>
            {% if education.summary %}
                <tr>
                    <th>简介</th>
                    <td>{{ education.summary }}</td>
                </tr>
            {% endif %}
        </table>
        {% if not loop.last %}
            <hr/>
        {% endif %}
    {% else %}
        <p class="text-muted">*未添加*</p>
    {% endfor %}

    <h5>技能</h5>

    {% for skill in user.skills %}
        <table>
            <tr>
                <th>名称</th>
                <td>{{ skill.name }}</td>
            </tr>
            {% if skill.summary %}
                <tr>
                    <th>描述</th>
                    <td>{{ skill.summary }}</td>
                </tr>
            {% endif %}
        </table>
        {% if not loop.last %}
            <hr/>
        {% endif %}
    {% else %}
        <p class="text-muted">*未添加*</p>
    {% endfor %}

</div>