{% extends 'HRUserBundle::layout.html.twig' %}

{% block user_content %}

    <ul class="nav nav-tabs">
        <li class="active"><a href="{{ path('profile_edit') }}">基本资料</a></li>
        <li><a href="{{ path('position_list') }}">职业经历</a></li>
        <li><a href="{{ path('education_list') }}">教育经历</a></li>
        <li><a href="{{ path('skill_list') }}">技能信息</a></li>
    </ul>

    {{ form_start(form, {'action': path('profile_edit', {'from': app.request.get('from') }), 'attr': {'class': 'form-horizontal' }}) }}

    <div class="form-group">
        <div class="col-lg-2 control-label">
            <label>头像</label>
        </div>
        <div class="col-lg-10">
            <div class="upload-face">
                <img src="{{ asset(app.user.avatarBigUrl) }}" class="avatar"/>
                <a class="upload-action" href="{{ path('upload_face') }}">修改头像</a>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-lg-2 control-label">
            <label>用户名</label>
        </div>
        <div class="col-lg-10 form-control-static">
            <strong class="text-muted">{{ app.user.username }}</strong>
        </div>
    </div>

    {{ form_widget(form) }}

    <div class="form-group">
        <div class="col-lg-offset-2 col-lg-10">
            <button type="submit" class="btn btn-primary">保存</button>
        </div>
    </div>

    {{ form_end(form) }}
{% endblock %}
