{% extends '::base.html.twig' %}

{% block content %}

    {% include 'HRPositionBundle:Search:search-box.html.twig' %}

    <div class="module">
        <div class="flex-module">
            <div class="module-header">
                <h2>找到 {{ pager.count }} 个和 "{{ app.request.get('q') }}" 相关的职位</h2>
            </div>

            {% if pager|length > 0 %}
                <ul class="item-list">
                    {% for position in pager %}

                        <li class="item">
                            <div class="item-header">
                                <a href="{{ path('profile_show', {'username': position.user.username}) }}" target="_blank"><img src="{{ asset(position.user.avatarSmallUrl) }}" class="avatar" title="{{ position.user.screenName }}"/></a>

                                <div class="meta">
                                    <a href="{{ path('profile_show', {'username': position.user.username}) }}" target="_blank">{{ position.user.screenName }}</a> 在 {{ position.createdAt|date('Y-m-d') }} 发布的职位
                                </div>

                                <div class="title">
                                    <a href="{{ path('position_show', {'positionId': position.id}) }}" target="_blank">{{ position.position|substring(15)|highlight }}</a>
                                    <span class="divider">•</span>
                                    <span class="company">{{ position.companyName|substring(15)|highlight }}</span>
                                    <span class="divider">•</span>
                                    <span class="region">{{ position.location|substring(13)|highlight }}</span>
                                </div>

                            </div>

                            <div class="item-body">
                                <a href="{{ path('position_show', {'positionId': position.id}) }}" target="_blank">
                                    {{ position.description|substring(300)|highlight|markup }}
                                </a>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p class="text-muted">暂时没有搜到你想要的职位，请尝试更换一个搜索词再试一次。</p>
                <br/>
                <p><a href="/">查看全部职位</a></p>
            {% endif %}

            {{ knp_pagination_render(pager, null, {'q': app.request.get('q')}) }}

        </div>
    </div>
    <!-- /module -->

{% endblock %}