{% if positions|length > 0 %}
    <ul class="item-list">
        {% for position in positions %}
            <li class="item similar">
                <div class="item-header">

                    <a href="{{ path('profile_show', {'username': position.user.username}) }}" target="_blank"><img src="{{ asset(position.user.avatarSmallUrl) }}" class="avatar" title="{{ position.user.screenName }}"/></a>

                    <div class="meta">
                        <a href="{{ path('profile_show', {'username': position.user.username}) }}" target="_blank">{{ position.user.screenName }}</a> 在 {{ position.createdAt|date('Y-m-d') }} 发布的职位
                    </div>

                    <div class="title">
                        <a href="{{ path('position_show', {'positionId': position.id}) }}" target="_blank">{{ position.position }}</a>
                        <span class="divider">•</span> <span class="company">{{ position.companyName }}</span>
                        <span class="divider">•</span> <span class="region">{{ position.city }}</span>
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p class="text-muted">没有找到相似的职位</p>
{% endif %}