{% extends '::base.html.twig' %}

{% set keywords = '湖南招聘,长沙找工作,湖南英才网,长沙英才网,长沙招聘' %}
{% set description = '【湖南英才网】最简单易用的社会化招聘网站，专注湖南地区的网络招聘，当然也是免费的。' %}

{% block content_top %}
    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') and app.user.emailConfirmed == false %}
        <div class="col-sm-12">
            <div class="alert alert-warning email-confirmed">
                <button type="button" class="close" data-dismiss="alert">&times;</button>

                <h2>
                    <span class="glyphicon glyphicon-info-sign"></span> 电子邮件地址未确认
                </h2>

                <p>确认你的邮件地址就可以<strong>发送简历或发布职位</strong>啦！邮件已发送至 <strong>{{ app.user.email }}</strong>，点击确认邮件内的链接即可完成邮件确认。
                </p>

                <p>如果您未收到确认邮件？请检查您的垃圾邮件文件夹。 <a href="{{ path('profile_edit') }}">邮件填错了？更换一个新的邮件地址</a>
                </p>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block content %}

    {% include 'HRPositionBundle:Search:search-box.html.twig' %}

    <div class="module">
        <div class="flex-module">
            <ul class="item-list">
                {% for position in pager %}
                    <li class="item">
                        <div class="item-header">
                            <a href="{{ path('profile_show', {'username': position.user.username}) }}" target="_blank"><img src="{{ asset(position.user.avatarSmallUrl) }}" class="avatar" title="{{ position.user.screenName }}"/></a>

                            <div class="meta">
                                <a href="{{ path('profile_show', {'username': position.user.username}) }}" target="_blank">{{ position.user.screenName }}</a> 在 {{ position.createdAt|date('Y-m-d') }} 发布的职位
                            </div>

                            <div class="title">
                                <a href="{{ path('position_show', {'positionId': position.id}) }}" target="_blank">{{ position.position|substring(15) }}</a>
                                <span class="divider">•</span>
                                <span class="company">{{ position.companyName|substring(15) }}</span>
                                <span class="divider">•</span>
                                <span class="region">{{ position.location|substring(13) }}</span>
                            </div>

                        </div>

                        <div class="item-body">
                            <a href="{{ path('position_show', {'positionId': position.id}) }}" target="_blank">
                                {{ position.description|substring(300)|markup }}
                            </a>
                        </div>
                    </li>
                {% endfor %}
            </ul>

            {{ knp_pagination_render(pager) }}

        </div>
    </div>
    <!-- /module -->

{% endblock %}