{% extends 'HRUserBundle::layout.html.twig' %}

{% block user_content %}

    {% if educations|length > 0 %}
        <table class="table table-bordered">
            <tr>
                <th class="text-center">学校名称</th>
                <th class="text-center">取得学历</th>
                <th width="120" class="text-center">起止时间</th>
                <th width="120" class="text-center">-</th>
            </tr>
            {% for education in educations %}
                <tr>
                    <td class="text-center">{{ education.schoolName }}</td>
                    <td class="text-center">{{ education.degreeName }}</td>
                    <td class="text-center">{{ education.startDate }} ~ {{ education.endDate }}</td>
                    <td class="text-center">
                        <a href="{{ path('education_edit', {'educationId': education.id}) }}">编辑</a>
                        <a href="{{ path('education_delete', {'educationId': education.id}) }}" onclick="return confirm('确认删除该教育经历？')">删除</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p class="text-muted">您没有设置教育经历</p>
    {% endif %}
{% endblock %}

{% block ext_content %}
    {% if educations|length <= 10 %}
        <div class="module">
            <div class="flex-module">
                <div class="module-header">
                    <h2>添加教育经历</h2>
                </div>

                {{ form_start(form, {'action': path('education_list'), 'attr': {'class': 'form-horizontal' }}) }}

                <div class="form-group">
                    <div class="col-sm-2 control-label">
                        {{ form_label(form.schoolName) }}
                    </div>
                    <div class="col-sm-10 control-inline">
                        {{ form_widget(form.schoolName) }}
                        {{ form_widget(form.degree) }}
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-2 control-label">
                        <label>起止时间</label>
                    </div>
                    <div class="col-sm-10 embed">
                        {{ form_widget(form.startDate) }} 至 {{ form_widget(form.endDate) }}
                        <div class="has-error">
                            {{ form_errors(form.startDate) }}
                            {{ form_errors(form.endDate) }}
                        </div>
                    </div>
                </div>

                {{ form_end(form) }}
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block sidebar %}
    {% include 'HRUserBundle::settingMenu.html.twig' with {'active' : 'education'} %}

    {{ parent() }}
{% endblock %}