{% extends 'HRUserBundle::layout.html.twig' %}

{% block user_content %}
    {% if error is not null %}
        <div class="alert alert-warning">{{ error }}</div>
    {% endif %}

    <div class="sns-login">
        <p class="text-muted">使用社交网络帐号登录</p>

        <div class="sns-btn-group">
            <a href="{{ path('oauth_weibo') }}" class="btn btn-weibo"><span class="icon icon-weibo"></span> 新浪微博</a>
            <a href="{{ path('oauth_qq') }}" class="btn btn-qq"><span class="icon icon-qq"></span> QQ帐号</a>
        </div>
    </div>

    <hr/>

    <p class="text-muted">或 使用电子邮件地址登录</p>

    <form action="{{ path("login_check") }}" method="post" id="login" class="form-horizontal">
        <div class="form-group">
            <label for="username" class="control-label col-md-3">用户名</label>

            <div class="col-md-9">
                <input type="text" id="username" name="_username" class="form-control" value="{{ last_username }}" placeholder="用户名或电子邮件地址"/>
            </div>
        </div>

        <div class="form-group">
            <label for="password" class="control-label col-md-3">密码</label>

            <div class="col-md-9">
                <input type="password" id="password" name="_password" class="form-control"/><span class="help-inline"><a href="{{ path('user_resetting_request') }}">忘记密码?</a></span>

                <div class="help-block">
                    <input type="checkbox" id="remember_me" name="_remember_me" checked="checked"/>
                    <label for="remember_me">记住我的登录</label>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-9 col-md-offset-3">
                <button type="submit" class="btn btn-primary">
                    登录
                </button>
            </div>
        </div>
    </form>
{% endblock %}

{% block siebar_sns_login %}
{% endblock %}