{% extends '::base.html.twig' %}

{% set description = position.companyName ~ '招聘' ~ position.position ~ '，工作地点：' ~ position.location %}


{% block content %}
    <div class="module">
        <div class="flex-module view">

            <div class="module-header contain-btn clearfix">
                <div class="pull-right">
                    <a href="{{ path('application_new', {'positionId': position.id}) }}" class="btn btn-success">发简历</a>
                    {% if can_edit_position(position) %}
                        <a href="{{ path('position_edit', {'positionId': position.id}) }}" class="btn btn-default">编辑</a>
                    {% endif %}
                    {% if can_delete_position(position) %}
                        <a href="{{ path('position_delete', {'positionId': position.id}) }}" class="btn btn-default" onclick="return confirm('确认要删除该职位吗?')">删除</a>
                    {% endif %}

                    <div class="btn btn-like">
                        <div class="btn-share">
                            <wb:share-button appkey="1345Qz" addition="simple" type="button" default_text="我在湖南英才网看到这个职位不错，分享一下~ 【{{ position.companyName }}招聘】 {{ position.position }}，工作地点：{{ position.location }}。"></wb:share-button>
                        </div>
                    </div>

                </div>
                <ol class="breadcrumb">
                    <li><a href="/">湖南英才网</a></li>
                    <li class="active">职位详情</li>
                </ol>
            </div>

            <div class="item">
                <div class="item-header">
                    <img src="{{ asset(position.user.avatarSmallUrl) }}" class="avatar"/>

                    <div class="meta">
                        <a href="{{ path('profile_show', {'username': position.user.username}) }}">{{ position.user.screenName }}</a> 在 {{ position.createdAt|date('Y-m-d') }} 发布的职位
                    </div>

                    <div class="title">
                        <a href="{{ path('position_show', {'positionId': position.id}) }}">{{ position.position|substring(15) }}</a>
                        <span class="divider">•</span> <span class="company">{{ position.companyName }}</span>
                        <span class="divider">•</span> <span class="region">{{ position.location }}</span>
                    </div>

                </div>

                <div class="item-body">
                    {{ position.description|markup }}
                </div>
            </div>
        </div>
    </div>
    <!-- /module -->

    <div class="module">
        <div class="flex-module">
            <div class="module-header">
                <h2>相似职位</h2>
            </div>

            <div id="smilar_jobs">
                <p class="text-muted">载入相似职位...</p>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="http://tjs.sjs.sinajs.cn/open/api/js/wb.js" type="text/javascript" charset="utf-8"></script>

    <script>
        $(function () {
            $('#smilar_jobs').load('/search/similar', {'positionId': {{ position.id }} }, function (data) {
            });
        });
    </script>
{% endblock %}